<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <header>
        {{!-- Nav bar Section --}}
        <nav class="navbar navbar-expand-lg navbar-light">
        {{! Other additional nav bar links not required for MVP but could possibly add nva links to financials page etc  }}
            <a class="navbar-brand" href="#">Inter-book</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
            {{! -- Will leave template code here for future additional nav link
                <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
                <li class="nav-item active">
                    <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Link</a>
                </li>
                </ul>
        }}
                
                <form class="form-inline my-2 my-lg-0">
                <input class="form-control mr-sm-2" type="search" placeholder="Search for a professional">
                <button class="btn btn-outline-success my-2 my-sm-0" type="submit" > Search </button>
                </form>
            </div>
            </nav>
    </header>
</body>
</html>