<head>
    <meta charset="UTF-8">
    <title> Inter-Book | Login </title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="/public/css/style.css">
</head>

<body>
    <header>

        <nav class="navbar navbar-expand-lg navbar-light">
            <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
            
            {{#if signed_in}}
            <a class="navbar-brand" href="#">Inter-book</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02"
                aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

                <form class="form-inline my-2 my-lg-0">
                    <input class="form-control mr-sm-2" type="search" placeholder="Search for a professional">
                    <button class="btn btn-outline-success my-2 my-sm-0" type="submit"> Search </button>
                </form>
            {{else}}    
                <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
                    <li class="nav-item active">
                        <a class="nav-link" href="../signin.handlebars"> Sign In </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="../register.handlebars"> Register </a>
                    </li>
                </ul>
            {{/if}}
            </div>
        </nav>
    </header>

    <!-- Dashboard render here --> 

    <div class="dashboard">

        {{{body}}}
        
    </div>

    {{#if signed_in}}
    <!-- link sign-out script -->
    <script src="/public/js/signout.js"> </script>
    {{/if}}

</body>

</html>