<section>

        <div class="jumbotron">
            {{!-- User data --}}
            <h1 class="display-4"> {{ first name }} {{ last name }}</h1>
            {{!-- Professional Title / Industry --}}
            <p class="lead"> {{ Industry }} </p>
            <hr class="my-4">

            {{!-- Short Description --}}
            <p> Short Description/Bio</p>
            <p class="lead">
                <a class="btn btn-primary btn-lg" href="#" role="button"> </a>
            </p>
        </div>
    </section>
