<form class= "signup-form">

    <h5 class="fw-normal mb-3 pb-3" style="letter-spacing: 1px;"> Sign Up Now </h5>

    <div class="row">
        <div class="col-md-6 mb-4">
            <div class="form-outline">
                <input type="text" id="first-name-signup" class="form-control" />
                <label class="form-label" for="first-name-signup">First name</label>
            </div>
        </div>
        <div class="col-md-6 mb-4">
            <div class="form-outline">
                <input type="text" id="last-name-signup" class="form-control" />
                <label class="form-label" for="last-name-signup">Last name</label>
            </div>
        </div>
    </div>

    <!-- Email input -->
    <div class="form-outline mb-4">
        <input type="email" id="email-signup" class="form-control" />
        <label class="form-label" for="email-signup">Email address</label>
    </div>

    <!-- Password input -->
    <div class="form-outline mb-4">
        <input type="password" id="password-signup" class="form-control" />
        <label class="form-label" for="password-signup">Password</label>
    </div>

    <!-- State input -->
    <div class="form-outline mb-4">
        <input type="password" id="state-signup" class="form-control" />
        <label class="form-label" for="state-signup">State</label>
    </div>


    <!-- Submit button -->
    <button type="submit" class="btn btn-dark btn-lg btn-block">
        Sign up
    </button>
</form>

<!-- Link sign-up script --->
<script src="/public/js/signup.js"> </script>